
<h2> Produtos à venda </h2>
<% if @products.any? %>
    <% @products.each do |product| %>
        <%= link_to product.name, product %>
        <%= number_to_currency product.value %>
        <% if current_collaborator != product.collaborator %>
            <%= link_to 'Comprar', orders_path(product_id: product),method: :post %>
        <% end %>
    <% end %>
<% else %>
    Nenhum produto disponível
<% end %>


<h2> Encontre por categoria </h2>
<% if @categories.any? %>
    <% @categories.each do |category| %>
        <%= link_to category.name, home_search_category_path(category: category) %>
    <% end %>
<% else %>
    Nenhuma categoria disponível
<% end %>